body{
    background-color: black;
    overflow: hidden;
}

.navbar{
    padding: 0;
    height: 120px;
    align-items: center;
}

.navbar .logo {
    position: relative;
    text-align: center;
    margin: auto;
    padding-right: 25px;
}


.nav-links{
    position: absolute;
    background: #ffffff;
    width: 100%;
    /* padding: 50px; */
    top: 0;
    left: -101%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .nav-links ul{
    flex-basis: 20%;
}
.navbar .nav-links ul a{
    color: #000000;
    font-weight: bolder;
}

.btn-close{
    display: block;
}
.btn-close svg{
    margin-left: 35px;
}
.line-menu  {
    position: absolute;
    width: 37px;
    height: 34px;
    background-color: #7eb44400;
    border: none;
    left: 7%;
    top: 37%;
}

.line-menu .line {
    width: 100%;
    float: left;
    height: 2px;
    background-color: #fff;
    margin-bottom: 7px;
    /* margin-left: 40px; */
}

.nav-links .oac a::before {
    display: none;
}




/*CONTAINER IMG*/
#container {
    animation: fade 2s;
    display: block;
    flex-wrap: wrap;
    position: relative;
    height: auto;
}

#container .img-carousel {
    display: none;
}

#container .img-carousel-mobile {
    display: block;
    position: relative;
    width: 100%;
}

#container .img-carousel-mobile img {
    display: none;
}

#container .img-carousel-mobile img.active {
    width: 100%;
    display: block;
}

/*ARROW MOBILE*/

.arrow-swip {
    display: none;
}

.arrow-swip-mobile {
    display: block;
    position: absolute;
    background: #000;
    display: flex;
    bottom: 0;
    right: 0;
}

.arrow-swip-mobile .left-mobile,
.arrow-swip-mobile .right-mobile {
    padding: 14px 22px;
}


.arrow-swip-mobile .right-mobile:hover,
.arrow-swip-mobile .left-mobile:hover {
    background: hsl(0, 0%, 27%);
    cursor: pointer;
}

/* Container description */


#container .all-description {
    padding: 50px;
}

#container .all-description h1 {
    padding-right: 0px;
}

#container .all-description p {
    font-size: 0.99em;
    padding-right: 0px;
}

#container .all-description a {
    font-size: 18px;
}


/*IMAGE ABOUT*/

.image-about {
    display: block;
    width: 100%;
}

/* Container about-1 */

#container .img-about-1 img {
    width: 100%;
}

/* Container about */

#container .about {
    padding: 50px;
}

#container .about h1 {
    padding-bottom: 20px;
}

#container .about p {
    font-size: 1em;
}

/* Container about-2 */

#container .img-about-2 img {
    width: 100%;
}


/* #container::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #00000061;
} */