* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'League Spartan', sans-serif;
    max-width: 1440px;
    margin: auto;
    /* animation: fade 2s ; */
}

header {
    position: relative;
    width: 100%;
}

.navbar {
    position: absolute;
    z-index: 8;
    display: flex;
    width: 100%;
    height: 50px;
    padding: 65px 65px;
    left: 50%;
    transform: translate(-50%);
    font-size: 16px;
}
/* .nav-links{
    display: none;
} */
.navbar .logo {
    padding-right: 40px;
}
.navbar .nav-links ul{
    display: flex;
    align-items: center;
}
.navbar .nav-links ul a{
    color: white;
    padding: 15px;
}

.btn-close{
    display: none;
}
.oac{
    position: relative;
}
.nav-links .oac a::before {
    content: " ";
    position: absolute;
    background-color: rgb(255, 255, 255);
    margin-top: 80px;
    height: 2px;
    width: 0%;
    margin: 20px auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    transition: 0.3s;
}

.nav-links .oac a:hover::before {
    visibility: visible;
    width: 35%;
    cursor: pointer;
}

/* CONTAINER */

#container {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

/* CONTAINER IMG CAROUSSEL */

#container .img-carousel-mobile {
    display: none;
}

#container .img-carousel{
    position: relative;
    flex-basis: 58.5%;
    
}
#container .img-carousel img{
    display: none;
}

#container .img-carousel img.active{
    width: 100%;
    display: block;
    animation: fade 0.5s ease-in-out;
}

/* CONTAINER DESCRIPTION */

#container .all-description {
    padding: 110px 45px 0 96px;
    flex-basis: 41.5%;
    width: 100%;
    position: relative;
}
#container .all-description .description{
    display: none;
}
#container .all-description .description.active{
    display: block;
    animation: fade 0.9s ease-in-out;
}

@keyframes fade{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

#container .all-description h1 {
    font-size: 49px;
    letter-spacing: -2px;
    margin: auto 0px;
    padding-right: 50px;
    line-height: 45px;
}

#container .all-description p {
    margin: 25px auto;
    font-size: 0.95em;
    line-height: 24px;
    padding-right: 50px;
    font-weight: 500;
    color: #a1a1a1;
}

#container .all-description a {
    font-weight: 600;
    color: black;
    font-size: 15px;
    letter-spacing: 10px;
    text-decoration: none;
}

#container .all-description a:hover {
    color: #a1a1a1;
    fill: #a1a1a1;
}

#container .all-description a svg {
    margin: 0px 0 0 25px;
}

/*IMAGE ABOUT*/

.image-about {
    position: relative;
    width: 100%;
    display: flex;
}

/* CONTAINER ABOUT-1 */

#container .img-about-1 {
    flex-basis: 25%;
    position: relative;
}

/* CONTAINER ABOUT */


#container .about {
    position: relative;
    flex-basis: 50%;
    width: 100%;
    padding: 65px 50px;
}

#container .about h1 {
    padding-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 7px;
    font-size: 16px;
}

#container .about p{
    color: #a1a1a1;
    font-size: 0.93em;
    line-height: 22px;
}

/* CONTAINER ABOUT-2 */


#container .img-about-2 {
    position: relative;
    flex-basis: 25%;
}

/* ARROW SWIP */

.arrow-swip-mobile {
    display: none;
}

.arrow-swip{
    position:  absolute;
    background: #000;
    display: flex;
    bottom: 0px;
    left: 0;
}
.arrow-swip .left{
    padding: 26px 32.5px;
}
.arrow-swip .right{
    padding: 26px 32.5px;
}
.arrow-swip .right:hover,
.arrow-swip .left:hover{
    background: hsl(0, 0%, 27%);
    cursor: pointer;
}


