* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    /* height: 100%; */
    box-sizing: border-box;
}

body {
    font-family: 'League Spartan', sans-serif;
    max-width: 1440px;
    /* height: 100%; */
    margin: auto;

}

header {
    position: relative;
    width: 58.5%;
    /*a modifier quand le flex wrap saplique sur l'image*/
}

nav {
    /* line-height: 0; */
    z-index: 8;
    position: absolute;
    background-color: rgba(0, 255, 255, 0);
    /*A suprimer*/
    height: 140px;
    width: 100%;
    display: flex;
}

label.logo {
    color: white;
    font-size: 20px;
    margin-top: 1px;
    line-height: 140px;
    padding: 0 35px 0px 65px;
}

nav ul li {
    display: inline-block;
    line-height: 140px;
    margin: 0 15px;
    position: relative;
}

nav ul li a {
    color: white;
    font-size: 16px;
    /* font-weight: 900; */
    /* font-weight: bolder; */
}

nav ul li a::before {
    content: "";
    position: absolute;
    background-color: rgb(255, 255, 255);
    margin-top: 80px;
    height: 2px;
    width: 0%;
    left: 50%;
    top: 0%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    transition: 0.3s;
}

nav ul li a:hover::before {
    visibility: visible;
    width: 50%;
    cursor: pointer;
}

/* Container */

#container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

/* Container img carousel */

#container .img-carousel-mobile {
    display: none;
    /* position: relative; */
}

#container .img-carousel{
    position: relative;
    line-height: 0;
    /*Me permet de ne pas avoir de marge entre mes div*/
    flex-basis: 58.5%;
    
}
#container .img-carousel img{
    display: none;
}

#container .img-carousel img.active{
    width: 100%;
    display: block;
    animation: fade 0.5s ease-in-out;
}


/* Container description */


#container .all-description {
    padding: 110px 45px 0 96px;
    flex-basis: 41.5%;
    width: 100%;
    position: relative;
}
#container .all-description .description{
    display: none;
}
#container .all-description .description.active{
    display: block;
    animation: fade 0.9s ease-in-out;
}

@keyframes fade{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

#container .all-description h1 {
    font-size: 49px;
    letter-spacing: -2px;
    margin: auto 0px;
    padding-right: 50px;
    line-height: 45px;
}

#container .all-description p {
    margin: 25px auto;
    font-size: 0.95em;
    line-height: 24px;
    padding-right: 50px;
    font-weight: 500;
    color: #a1a1a1;
}

#container .all-description a {
    font-weight: 600;
    color: black;
    font-size: 15px;
    letter-spacing: 10px;
}

#container .all-description a:hover {
    color: #a1a1a1;
    fill: #a1a1a1;
}

#container .all-description a svg {
    margin: 5px 0 0 25px;
}


/*IMAGE ABOUT*/

.image-about {
    position: relative;
    width: 100%;
    display: flex;
}

/* Container about-1 */

#container.img-about-1 {
    flex-basis: 25%;
    position: relative;
    
    /* width: 100%; */
    /* height: 90%; */
}


/* Container about */

#container .about {
    position: relative;
    flex-basis: 40%;
    width: 100%;
    padding: 65px 50px;
}

#container .about h1 {
    padding-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 7px;
    font-size: 16px;
}

#container .about p{
    color: #a1a1a1;
    font-size: 0.93em;
    line-height: 22px;
}

/* Container about-2 */

#container.img-about-2 {
    position: relative;
    
    flex-basis: 35%;
    /* width: 35px; */
}

/*ARROW SWIP*/

.arrow-swip-mobile {
    display: none;
}

.arrow-swip{
    position:  absolute;
    background: #000;
    display: flex;
    bottom: 0px;
    left: 0;
    /* width: auto; */
}
.arrow-swip .left{
    padding: 26px 32px;
}
.arrow-swip .right{
    padding: 26px 32px;
}
.arrow-swip .right:hover,
.arrow-swip .left:hover{
    background: hsl(0, 0%, 27%);
    cursor: pointer;
}