header {
    position: relative;
    width: 100%;
    /*a modifier quand le flex wrap saplique sur l'image*/
}

#container {
    display: block;
    flex-wrap: wrap;
    position: relative;
    height: auto;
}

#container .img-carousel {
    display: none;
}
#container .img-carousel-mobile {
    display: block;
}

.arrow-swip{
    display: none;
}
.arrow-swip-mobile {
    display: block;
    position:  relative;
    background: #000;
    display: flex;
    bottom: 0px;
    left: 0;
}
